<% if driver_signed_in? %>
    <% if check_apply.present? %>
      <div class="btn btn-default">現在、お申し込み中の広告がある為、新規のお申し込みができません</div>
    <% else %>
      <%= form_for (under_deal), url: under_deals_path, method: :post do |f| %>
        <%= f.hidden_field :ad_id, :value => ad.id %>
        <%= f.hidden_field :driver_id, :value => current_driver.id %>
          <%= f.submit "この広告に申し込む", :class => "btn03" %>
        <% end %>
      <% end %><br>
      <section class="question">
        <% if room.nil? %>
          <%= link_to '広告のことで質問する', ad_rooms_path(ad.id),class:"btn05", method: :POST %>
        <% else %>
          <%= link_to '広告のことで質問する', ad_room_path(ad.id,room.id),class:"btn05" %>
        <% end %>
      </section>
    <br>
<% end %>
