<div class="col-xs-11 col-offset-1">
	<div id="chat-templete" class="chat-area">
		<%= form_for (message), url: under_deal_deal_messages_path(under_deal) do |f| %>
			<div id ="chat-send">
				<%= f.text_area :message, class: "chat-message" %>
				<%= f.submit "送信", class: "btn chat-btn" %>
			</div>
		<% end %>
		<% messages.each do |message| %>
			<% if message.user_type == 'driver' %>
				<div class="message">
				  <div id="icon" class="faceicon">
				    <%= attachment_image_tag under_deal.driver, :profile_image, :fill,90,90, fallback: "no_image.jpg", size:'90X90' %>
				  </div>
				    <div class="chatting">
				     	<div class="says">
				      	<p><%= message.message %></p>
			          <div class="say-data">
			    				<%= message.created_at.to_s(:datetime_jp) %>
			    			</div>
				  	  </div>
				  	</div>
				</div>
			<% else %>
				<div class="message2">
				  <div class="faceicon2">
				    <%= attachment_image_tag under_deal.ad.ad_client, :profile_image, :fill,90,90, fallback: "no_image.jpg", size:'90X90' %>
				  </div>
				    <div class="chatting2">
				     	<div class="says2">
				      	<p><%= message.message %></p>
						    <div class="say-data2">
				    			<%= message.created_at.to_s(:datetime_jp) %>
				    		</div>
				    	</div>
				  	</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>