<div class="col-xs-11 col-xs-offset-1">
	<% if under_deal.work_status == 'approval_pending' %>
		<div class="text-center">
			<h3>広告に応募がありました!</h3>
			<%= render 'drivers/profile' , driver: under_deal.driver %>
				<p><%= link_to "プロフィールを確認する",driver_path(under_deal.driver.id), class: "btn btn-primary" %></p>
				<p>取引承認待ちです。こちらのドライバーと広告契約を結びますか？</p>
				<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
					<%= f.submit "広告を依頼する", name:'accept', class: "btn btn-primary " %>
					<%= f.submit "お断りする",name: 'refuse', class: "btn btn-danger" %>
				<% end %>
		</div>
	<% elsif under_deal.work_status == 'refuse'%>
		<div class="text-center">
			<h3>ドライバーからの申し込みをお断りしました。</h3>
			<p><%= link_to "マイページへ戻る",dashboard_ad_client_path(current_ad_client), class: "btn btn-sm btn-default" %></p>
		</div>
	<% elsif under_deal.work_status == 'waiting_kit'%>
		<h3>ドライバーへ広告キットを発送してください</h3>
		<%= render 'report_ad_client', under_deal: under_deal %>
	<% elsif under_deal.work_status == 'sent_kit'%>
		<h3>発送通知をしました!<br>ドライバーからの広告キット取り付け完了連絡をお待ちください。</h3>
		<%= render 'report_ad_client', under_deal: under_deal %>
	<% elsif under_deal.work_status == 'advertising'%>
		<h4>ドライバーから広告キット取付け完了の報告がきました。<br>これからドライバーが広告作業を行います。作業完了の報告をお待ちください。</h4>
		<%= render 'report_ad_client', under_deal: under_deal %>
	<% elsif under_deal.work_status == 'completed'%>
		<h3>広告作業が完了しました！</h3>
			<h4>広告作業代の振り込み作業を行ってください。お振込み完了後、評価をしてドライバーに報告をしてください。</h4>
		<%= render 'report_ad_client', under_deal: under_deal %>
		<% elsif under_deal.work_status == 'deposited'%>
		<h3>振り込み報告が完了しました！</h3>
			<h4>ドライバーの評価をしたらお手続が完了です。</h4>
		<%= render 'report_ad_client', under_deal: under_deal %>
	<% end %>
</div>