<!-- 広告からの許可待ち画面 -->
<% if under_deal.work_status == 'approval_pending' %>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>お申し込みが完了しました！</h3>
				<h4>広告主の承認待ちです。<br>何か質問があったら、メッセージしてみよう</h4>
		</div>
	</div>
<% end %>
<!-- 申し込み拒否された場合の画面 -->
<% if under_deal.work_status == 'refuse'%>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>誠に残念ですが、こちらのお申し込みは<br>広告主から承認されませんでした。<br>別の広告を探してみましょう！</h3>
					<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
						<%= f.submit "了承して、別の広告を探す", name: 'checked_refuse',class: "btn06" %>
					<% end %>
		</div>
	</div>
<% end %>	
<!-- 広告キットの発送待ちの画面 -->
<% if under_deal.work_status == 'waiting_kit'%>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>おめでとうございます！<br>お申し込みが承認されました</h3>
				<h4>広告キットの発送準備中です。<br>発送後、広告主から連絡が入ります。<br>今しばらくお待ちください。</h4>
		</div>
	</div>
<% end %>
<!-- 広告キット発送後の画面 -->
<% if under_deal.work_status == 'sent_kit'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>広告キットが発送されました</h3>
				<h4>到着後、お車へ設置をお願いします。<br>設置完了後、証明写真を送ってください。取り付け方法に関してはコチラをご確認ください。</h4>
					<h5><%= link_to "広告キットの取り付けについて", how_to_kit_path %></h5>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', under_deal: under_deal %>
<% end %>
<!-- 広告作業中の画面 -->
<% if under_deal.work_status == 'advertising'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>準備完了です！</h3>
				<h4>広告作業をしながらドライブを楽しみましょう。<br>広告作業が完了したら、作業完了の報告を送ってください。</h4>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', { under_deal: under_deal, deal_detail: deal_detail, driver: driver} %>
<% end %>
<!-- 広告作業完了後の画面 -->
<% if under_deal.work_status == 'completed'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>お疲れ様でした！</h3>
				<h4>広告作業代の振り込み完了後、広告主から連絡が入ります。最後に評価をして広告作業を完了してください。</h4>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', under_deal: under_deal %>
<% end %>
<!-- 振り込み完了連絡後の画面 -->
<% if under_deal.work_status == 'transferred'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>振り込み完了の連絡が来ました！</h3>
				<h4>入金確認をしたら、最後に評価をして広告作業を完了してください。</h4>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', { under_deal: under_deal,deal_detail: deal_detail } %>
<% end %>
<!-- 振り込み完了連絡後の画面 -->
<% if under_deal.work_status == 'rated'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>お疲れ様でした。お取引き完了です。<br>さぁ次の広告を探しにいきましょう！</h3>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', under_deal: under_deal %>
<% end %>
<% if under_deal.work_status == 'finished'%>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="message-box">
			<h3>この取引きは完了しています。<br>さぁ次の広告を探しにいきましょう！</h3>
		</div>
	</div>
</div>
	<%= render 'under_deals/report_driver', under_deal: under_deal %>
<% end %>