<div class="current-deal">
	<table class="table table-hover">
		<h3>取引中の広告一覧</h3>
		  <thead>
		    <tr>
		      <td>広告名</td>
		      <td>ドライバー</td>
		      <td>広告期間</td>
		      <td>ステータス</td>
		      <td colspan="2">詳細画面</td>
		    </tr>
		  </thead>
		  <tbody>
		   <% under_deals.each do |u| %>
		    <tr>
		      <td><%= u.ad.title %></td>
		      <td><%= u.driver.driver_name %></td>
		      <td><%= u.ad.start_date %>〜<%= u.ad.end_date %></td>
		      <td><%= u.work_status_i18n %></td>
		      <td colspan="2">
		        <%= link_to under_deal_path(u.id), class: "btn02" do %><span>詳細<i class="fas fa-arrow-right"></i><% end %></td>
		    </tr>
		   <% end %>
		  </tbody>
	</table>
	<% if under_deals.blank? %>
		<div class="message-box">
			<h4>現在、取引中の広告はありません。<br>広告を依頼してみましょう！！</h4>
		</div>
	<% end %>
	<!-- 取引一覧 -->
	<table class="table table-hover">
		<h3>過去取引一覧</h3>
		  <thead>
		    <tr>
		      <td>広告名</td>
		      <td>ドライバー</td>
		      <td>広告期間</td>
		      <td>ステータス</td>
		      <td colspan="2">詳細画面</td>
		    </tr>
		  </thead>
		  <tbody>
		   <% finish_deals.each do |f| %>
		    <tr>
		      <td><%= f.ad.title %></td>
		      <td><%= f.driver.driver_name %></td>
		      <td><%= f.ad.start_date %>〜<%= f.ad.end_date %></td>
		      <td><%= f.work_status_i18n %></td>
		      <td colspan="2">
			  	<%= link_to under_deal_path(f.id), class: "btn02" do %><span>詳細<i class="fas fa-arrow-right"></i><% end %></td>
		    </tr>
		   <% end %>
		  </tbody>
	</table>
</div>