<table>
	<tr>
		<th>広告キット設置報告
		</th>
		<th>作業完了報告&emsp;</th>
		<th>評価&emsp;</th>
	</tr>
	<tr>
		<td>
			<% if under_deal.work_status == 'sent_kit' %>
				<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
					<%= f.attachment_field :installation_image %>
					<%= f.submit "設置の証明写真をアップロードする", name:'advertising', class: "btn btn-primary " %>
				<% end %>
			<% else %>
				<p class="btn btn-default" disabled="disabled">証明写真のアップロード済み</p>
			<% end %>
		</td>
		<td>
			<% if under_deal.work_status == 'advertising' %>
				<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
					<%= f.submit "広告作業の完了報告をする", name:'completed', class: "btn btn-primary " %>
				<% end %>
			<% elsif under_deal.work_status == 'sent_kit' %>
				<p class="btn btn-default" disabled="disabled">広告作業の完了報告をする</p>
			<% else %>
				<p class="btn btn-default" disabled="disabled">作業の完了報告済み</p>
			<% end %>
		</td>
		<td>
			<% if under_deal.work_status == 'deposited' %>
				<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
				良い 普通 悪い<br>
					<%= f.submit "広告主を評価する", name:'finish', class: "btn btn-primary " %>
				<% end %>
			<% else %>
				<p class="btn btn-default" disabled="disabled">振り込み待ち</p>
			<% end %>
		</td>
	</tr>
</table>
