<div class="row">
	<div id="report-area">
		<p class="title">やることリスト</p>
		<div class="col-xs-3">
			<table>
				<tr>
					<th>広告設置写真</th>
				</tr>
				<tr>
					<td><%= attachment_image_tag under_deal, :installation_image,id: :prev_img, fallback: "no_image.jpg", size: '160x120' %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-3">
			<table>
				<tr>
					<th>広告キット設置報告</th>
				</tr>
				<tr>
					<td>
						<% if under_deal.work_status == 'sent_kit' %>
							<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
								<%= f.attachment_field :installation_image,id: :update_img %>
								<%= f.submit "写真をアップロード", name:'advertising', class: "btn btn-primary" %>
							<% end %>
						<% else %>
							<p class="btn btn-default report-cart-down" disabled="disabled">アップロード済み</p>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-3">
			<table>
				<tr>
					<th>作業完了報告</th>
				</tr>
				<tr>
					<td>
						<% if under_deal.work_status == 'advertising' %>
							<% if driver.transfer_informations.blank? %>
								<p class="notice">口座情報が未登録です。<br>「ドライバー情報 編集」から登録してください。</p>
							<% else %>
								<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
									<%= fields_for deal_detail, url:under_deal_path(under_deal), method: :patch do |d| %>
										<%= d.label :transfer_informations, "振込先の銀行口座を指定する" %>
										<%= collection_select(:detail, :transfer_information_id, driver.transfer_informations.order("id DESC"),:id,:full_info) %>
									<% end %>
									<%= f.submit "広告作業の完了報告", name:'completed', class: "btn btn-primary " %>
								<% end %>
							<% end %>
						<% elsif under_deal.work_status == 'sent_kit' %>
							<p class="btn btn-default report-cart-down" disabled="disabled">広告作業の完了報告をする</p>
						<% else %>
							<p class="btn btn-default report-cart-down" disabled="disabled">作業の完了報告済み</p>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-3">
			<table>
				<tr>
					<th>評価</th>
				</tr>
				<tr>
					<td>
						<% if under_deal.work_status == 'transferred' %><br>
							<%= form_for under_deal, url:under_deal_path(under_deal), method: :patch do |f| %>
								<%= f.check_box :agreement,required: true, checked: false %>
								<%= f.label :agreement,"入金を確認した" %><br>
								<%= f.submit "広告主を評価", name:'rated', class: "btn btn-primary " %>
							<% end %>
						<% elsif under_deal.work_status == 'rated' %>
							<p class="btn btn-default report-cart-down" disabled="disabled">評価済み</p>
						<% elsif under_deal.work_status == 'finished' %>
							<p class="btn btn-default report-cart-down" disabled="disabled">作業報告待ち</p>
						<% else %>
							<p class="btn btn-default report-cart-down" disabled="disabled">入金連絡待ち</p>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
