<div class="row">
  <div class="col-xs-7 col-md-offset-2">
    <div class="registration-input">
      <h3>新規ドライバー登録</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <table class="table" id="none-border">
            <tbody>
              <tr>
                <td><%= f.label :driver_name %></td>
                <td><%= f.text_field :driver_name, autofocus: true, autocomplete:"", placeholder:"お名前を入力", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :driver_name_kana %></td>
                <td><%= f.text_field :driver_name_kana, autofocus: true, autocomplete:"", placeholder:"お名前のカナを入力", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :postal_code %></td>
                <td><%= f.text_field :postal_code, autofocus: true, autocomplete:"", placeholder:"ハイフンなし", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :address %></td>
                <td><%= f.text_field :address,:size=>"60", autofocus: true, autocomplete:"", placeholder:"ご住所を入力", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :email %></td>
                <td><%= f.text_field :email, autofocus: true,:size=>"50", autocomplete:"", placeholder:"メールアドレスを入力", class: "form-control"%></td>
              </tr>
                <td><%= f.label :telephone_number %></td>
                <td><%= f.text_field :telephone_number, autofocus: true, autocomplete:"",placeholder: "電話番号を入力", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :activity_area %></td>
                <td>(例)東京都港区<%= f.text_field :activity_area, autofocus: true, placeholder:"都道府県と市町村名までを入力", class: "form-control"%></td>
              </tr>
              <tr>
                <td><%= f.label :driver_license_image %></td>
                <td><%= f.file_field :driver_license_image, id:"upload_file"%></td>
              </tr>
              <tr>
                <td><%= f.label :password %>
                 <% if @minimum_password_length %>
                   <em>( <%= @minimum_password_length %>文字以上 )</em>
                 <% end %></td>
                <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :パスワード（確認用） %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= link_to "ご利用規約","https://drive.google.com/open?id=1S4yUlGV0eq2iKZGOVUhfwSGGeFXSo35_" %><br>
                    必ずご一読、ご了承の上でご登録ください</td>
              </tr>
              <tr>
                <td><%= f.check_box :terms, checked:false, :as => :boolean %>利用規約に同意する</td>
              </tr>
              <tr>
                <td><%= f.submit "新規登録", class: "btn btn-primary btn-lg col-lg-offset-12" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
  <div class="col-xs-3">
    <h4>既に登録済みのドライバーは</h4>
      <%=link_to "こちら", new_driver_session_path %>からログインしてください。
  </div>
</div>