<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- 前の画面に戻る -->

			<!-- ジャンル一覧 -->
 			<%= render "ads/genre_templete", genres: @genres %>
 		</div>
		<div class="col-xs-8">
			<h2>お気に入り一覧</h2>
				<% i = 0 %>
				<table class="table" id="none-border">
					<% @ads.each do |ad| %>
							<td>
								<%= link_to ad_path(ad.id) do %>
								<%= attachment_image_tag ad,:ad_image, :fill,200,160, fallback: "no_image.jpg", size:'200x160' %><br>
								<%= ad.title %><% end %>&emsp;
								<% if ad.favorited_by?(current_driver)  %>
		               <%= link_to ad_favorites_path(ad),method: :delete do %>
		               	<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red; font-size: 18px"></span>
		            	 <% end %>
		            <% else %>
		               <%= link_to ad_favorites_path(ad), method: :post do %>
		              	 <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="color: grey; font-size: 18px"></span>
		               <% end %>
		            <% end %><br>
								<%= ad.ad_fee %><br>
								<%= ad.heading %>
							</td>
							<% i = i + 1 %>
							<% if i % 3 == 0 %>
							<tr></tr>
						<% end %>
					<% end %>
				</table>
		</div>
	</div>
</div>