<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- プロフィール -->
			<% if ad_client_signed_in? %>
				<%= render 'ad_clients/profile' , ad_client: @ad_client %>
			<% elsif driver_signed_in?%>
				<%= render 'drivers/profile' , driver: @driver %>
			<% end %>
			<!-- お気に入り一覧 -->
			<%= link_to "お気に入り一覧", favorite_search_ad_path(current_driver), class: "btn btn-default btn-lg", style: "color: black;" %>
			<!-- ジャンル一覧 -->
 			<%= render "ads/genre_templete", genres: @genres %>
 		</div>
		<div class="col-xs-8">
			<h2>広告一覧</h2>
				<% i = 0 %>
				<table class="table" id="none-border">
					<% @ads.each do |ad| %>
							<td>
								<%= link_to ad_path(ad.id) do %>
								<%= attachment_image_tag ad,:ad_image, :fill,200,160, fallback: "no_image.jpg", size:'200x160' %><br>
								<%= ad.title %><% end %>&emsp;
								<div id="favorites_buttons_<%= ad.id %>">
									<%= render partial:'favorites/favorite', locals: { ad: ad} %>
								</div><br>
								<%= ad.ad_fee %><br>
								<%= ad.heading %>
							</td>
							<% i = i + 1 %>
							<% if i % 3 == 0 %>
							<tr></tr>
						<% end %>
					<% end %>
				</table>
			<%= link_to "トップページに戻る", driver_path(current_driver) %>
		</div>
	</div>
</div>