<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ジャンル一覧 -->
      <%= render "ads/genre_templete", genres: @genres %>
    </div>
    <div class="col-xs-9">
      <h3>広告詳細</h3>
        <%= attachment_image_tag @ad, :ad_image, :fill,760,420, fallback: "no_image.jpg", size:'200x130' %>
        <table>
         <tr>
           <th><h4><%= @ad.title %></h4></th>
           <th class="text-right">
              <% if @ad.favorited_by?(current_driver)  %>
               <%= link_to ad_favorites_path(@ad),method: :delete do %>
               <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red; font-size: 30px"></span>
              <% end %>
             <% else %>
               <%= link_to ad_favorites_path(@ad), method: :post do %>
                 <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="color: grey; font-size: 30px"></span>
               <% end %>
             <% end %>
           </th>
         </tr>
         <tr>
           <td><h3><%= @ad.ad_fee %>円</h3></td>
         </tr>
         <tr>
           <td><h4><%= @ad.heading %></h4></td>
         </tr>
       </table>
       <table class="table">
         <tr>
           <th>広告主</th>
           <th>広告作業期間</th>
         </tr>
         <tr>
           <td><%= @ad.ad_client_id %></td>
           <td><%= @ad.ad_priod %></td>
         </tr>
         <tr>
          <td>ジャンル</td>
          <td></td>
         </tr>
         <tr>
          <td><%= @ad.genre_id %></td>
          <td> <%= link_to "この広告に申し込む", ads_path , class: "btn btn-lg btn-primary"%></td>
         </tr>
       </table>
        <%= link_to "前の画面に戻る", ads_path  %>
    </div>
  </div>
</div>