<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h3>広告主 ログインページ</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table" id="none-border">
            <tbody>
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :パスワード %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                  <%=link_to "=>パスワードを忘れた方はこちら", edit_admin_password_path %>
                </td>
              </tr>
              <tr>
              　<td></td>
                <td><%= f.submit "ログイン", class: "btn03" %></td>
              </tr>
            </tbody>
         </table>
        <% end %>
      </div>
    <div class="col-xs-3 col-xs-offset-1">
        <h3>簡単ログイン</h3>
          <%= link_to ad_client_guest_sign_in_path, class:"btn03", method: :post do %>ゲストログイン（閲覧用）<i class="fas fa-arrow-right"></i><% end %>
      </div>
</div>
