<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>登録車両編集</h3>
        <%= form_for @car_information, url: driver_car_information_path do |f| %>
            <tr>
              <td>
                <%= f.label :メーカー名 %>
                <%= f.text_field :manufacturer_name, autofocus: true, autocomplete:"", placeholder:"郵便番号", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :車名 %>
                <%= f.text_field :car_name, autofocus: true, autocomplete:"", placeholder:"住所", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :ナンバープレート %>
                <%= f.text_field :license_plate, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :車台番号 %>
                <%= f.text_field :flame_number, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :車検証写真 %><br>
                <%= attachment_image_tag @car_information, :certificate_image, :fill,400,300, fallback: "no_image.jpg", size:'400x300' %>
                <%= f.attachment_field :certificate_image %>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <%= f.submit "登録する", class: "btn btn-primary col-lg-offset-10"%>
              </td>
             </tr>
           <% end %>
        <%= link_to "前の画面に戻る", driver_car_informations_path(current_driver)  %>
    </div>
    <div class = "col-xs-6">
      <h3>掲載広告情報</h3>
        <table class="table .table-borderless">
           <tr>
             <th>広告名</th>
             <td></td>
           </tr>
           <tr>
             <th>掲載期間</th>
             <td></td>
           </tr>
           <tr>
             <th>広告主</th>
             <td></td>
           </tr>
           <tr>
             <th>広告画像</th>
             <td></td>
           </tr>
        </table>
        <br>
  </div>
</div>