<div class="container">
  <div class="row">
    <div class = "col-xs-6">
      <h1>車両情報</h1>
        <h3>新規車両登録</h3>
          <%= form_for @car_information, url: driver_car_informations_path do |f| %>
            <tr>
              <td><%= f.label :メーカー名 %></td>
              <td><%= f.text_field :manufacturer_name, autofocus: true, placeholder:"車のメーカー名を入力", class: "form-control"%></td>
            </tr>
             <tr>
              <td><%= f.label :車名 %></td>
              <td><%= f.text_field :car_name, autofocus: true, placeholder:"車種名を入力", class: "form-control"%></td>
            </tr> 
            <tr>
              <td><%= f.label :ナンバープレート %></td>
              <td><%= f.text_field :license_plate, autofocus: true, placeholder:"登録番号を入力", class: "form-control"%></td>
            </tr>
            <tr>
              <td><%= f.label :車台番号 %></td>
              <td><%= f.text_field :flame_number, autofocus: true, placeholder:"車両検査表に記載の車台番号を入力", class: "form-control"%></td>
            </tr>
            <tr>
              <td><%= f.label :車検証写真 %></td>
              <td><%= f.attachment_field :certificate_image %></td>
            </tr>
            <tr>
              <td><%= f.submit "登 録", class: "btn btn-primary col-lg-offset-10"%><td>
            </td>
          <% end %>
        <%= link_to "前の画面に戻る", edit_driver_path(current_driver)  %>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
     <table class="table table-bordered">
      <h3>登録車両一覧</h3>
      <thead>
        <tr>
          <td>メーカー名</td>
          <td>車名</td>
          <td>ナンバープレート</td>
          <td>車台番号</td>
          <td colspan="2"></td>
        </tr>
      </thead>
      <tbody>
       <% @car_informations.each do |c| %>
        <tr>
          <td><%= c.manufacturer_name %></td>
          <td><%= c.car_name %></td>
          <td><%= c.license_plate %></td>
          <td><%= c.flame_number %></td>
          <td colspan="2">&emsp;
            <%= link_to "編 集",edit_driver_car_information_path(c.driver_id,c.id), class: "btn-sm btn-success " %>&emsp;
            <%= link_to "削 除",driver_car_information_path(c.driver_id,c.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
           </td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</div>





