<div class="container">
  <div class="row">
    <dev class="col-xs-1">
    </dev>
    <div class="col-xs-6 col-md-offset-3">
      <h2>管理者 新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <table class="table" id="none-border"><tbody>

        <tr>
          <td><%= f.label :名前 %></td>
          <td><%= f.text_field :admin_name, autofocus: true, autocomplete:"", placeholder:"お名前を入力", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :カナ %></td>
          <td><%= f.text_field :admin_name_kana, autofocus: true, autocomplete:"", placeholder:"お名前のカナを入力", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true,:size=>"50", autocomplete:"", placeholder:"メールアドレスを入力", class: "form-control"%></td>
        <tr>
          <td><%= f.label :パスワード %>
           <% if @minimum_password_length %>
             <em>(<%= @minimum_password_length %> characters minimum)</em>
           <% end %></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード（確認用） %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.submit "新規登録", class: "btn btn-success btn-lg col-lg-offset-12" %></td>
        </tr>
      </tbody>
      </table>
    <% end %>



<h3>既に登録済みの方は</h3>
<div class="col-lg-offset-2">
<%=link_to "こちら", new_admin_session_path %>からログインしてください。
</div>


