<h3>広告主 一覧</h3>
	<% i = 0 %>
		<table class="table" id="none-border">
			<% ad_clients.each do |ad_client| %>
				<td>
					<%= link_to ad_client_path(ad_client.id),data: {"turbolinks" => false} do %>
					<%= attachment_image_tag ad_client,:profile_image, fallback: "no_image.jpg" ,class: "img_wrap", size:'200x160' %><br>
					<%= ad_client.company_name %><% end %><br>
					<%= ad_client.company_name_kana %><br>
				</td>
				<% i = i + 1 %>
				<% if i % 3 == 0 %>
				<tr></tr>
				<% end %>
			<% end %>
		</table>
	<div class="text-center"><%= paginate ad_clients, class: "paginate" %></div>
<% if ad_client_signed_in? %>
	<%= link_to dashboard_ad_client_path(current_ad_client) do %><i class="fas fa-angle-left"></i> マイページへ戻る<% end %>
<% elsif driver_signed_in?%>
	<%= link_to  dashboard_driver_path(current_driver) do %><i class="fas fa-angle-left"></i> トップページに戻る<% end %>
<% end %>
