<div class="row">
	<div class="col-xs-3">
		<!-- サイドバー -->
		<% if ad_client_signed_in? %>
			<%= render 'ad_clients/sidebar', ad_client: current_ad_client %>
		<% elsif driver_signed_in?%>
			<%= render "drivers/sidebar", driver: current_driver %>
		<% end %>
	</div><br>
	<div class="col-xs-6">
		<h3>フォロワー リスト</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @followers.each do |driver| %>
						<tr>
							<td><%= attachment_image_tag driver, :profile_image, fallback: "no-image-mini.jpg",size:'80x80' %></td>
							<td><%= driver.driver_name %></td>
							<td><%= link_to driver_path(driver), class: "btn02",data: {"turbolinks" => false} do %><span>詳細<i class="fas fa-arrow-right"></i><% end %></i></td>
						</tr>
					<%end %>
				</tbody>
		</table>
	</div>
</div>