<div class="row">
	<div class="col-xs-3">
		<% if ad_client_signed_in? %>
			<%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
		<% elsif driver_signed_in?%>
			<%= render "drivers/sidebar", driver: current_driver %>
		<% end %><br>
	</div>
	<div class="col-xs-9">
		<div class="row">
			<div class = "col-xs-6">
				<h4>広告主情報</h4>
					<%= attachment_image_tag @ad_client, :profile_image, fallback: "no_image.jpg", size:'230x170'  %><br>
						<div id="follow_ad_client_<%= @ad_client.id %>">
							<%= render "relationship_drivers/follow_ad_client", ad_client: @ad_client %>
						</div>
					<table class="table .table-borderless">
						<tr id="follow_count_<%= @ad_client.id %>">
							<%= render "relationship_drivers/follow_count_ad_client", ad_client: @ad_client %>
						</tr>
						<tr>
							<th>会社名</th>
							<td><%= @ad_client.company_name %></td>
						</tr>
						<tr>
							<th>会社名（カナ）</th>
							<td><%= @ad_client.company_name_kana %></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= @ad_client.postal_code %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= @ad_client.address %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @ad_client.email %></td>
						</tr>
						<% if admin_signed_in? %>
						<tr>
							<th>ユーザーステータス</th>
							<td>
								<%= form_for @ad_client, url: ad_client_path(@ad_client), method: :patch do |f| %>
									<%= f.radio_button :is_active, :true, checed:true %>
									<%= f.label :有効 %>
									<%= f.radio_button :is_active, :false %>
									<%= f.label :無効 %>
									<%= f.submit "更新", class: "btn btn-primary",style: "margin-left:13px"%>
								<% end %>
							</td>
						</tr>
						<% end %>
					</table>
				<%= link_to ad_clients_path do %><i class="fas fa-angle-left"> 一覧ページへ戻る</i><% end %>
			</div>
			<div class="col-xs-6">
				<h4>所在地</h4>
					<div id ="map"></div>
						<script>
							var map;
							function initMap(){
								var lat_lng ={ lat: <%= @ad_client.latitude %>, lng: <%= @ad_client.longitude %>}

								map = new google.maps.Map(document.getElementById('map'), {
									center: lat_lng,
									zoom: 12,
								});
								marker = new google.map.Marker({
									position: lat_lng,
									map: map
								});
							}
						</script>
						<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap", async: true, defer: true)) ></script>
			</div>
		</div>
  </div>