	<div class="row">
		<div class="col-xs-3">
			<% if ad_client_signed_in? %>
				<%= render 'ad_clients/profile' , ad_client: current_ad_client %>
				<%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
			<% elsif driver_signed_in?%>
				<%= render 'drivers/profile' , driver: current_driver %>
				<%= render "drivers/sidebar", driver: current_driver %>
			<% end %><br>
		</div>
		<div class = "col-xs-5">
				<%= attachment_image_tag @ad_client, :profile_image, fallback: "no_image.jpg", size:'230x170'  %><br>
						<% if driver_signed_in? %> <!-- currentか引数を定義するか後で統一 -->
	            <% if current_driver.following?(@ad_client) %>
	              <%= link_to 'フォローを外す', ad_client_relationship_driver_path(@ad_client.id), method: :delete %>
	            <% else %>
	              <%= link_to 'フォローする', ad_client_relationship_drivers_path(@ad_client.id), method: :POST %>
	            <% end %>
						<% end %>
					<table class="table .table-borderless">
						<tr>
							<td>フォロー数：<%= link_to @ad_client.following_driver.count, followings_ad_client_path(@ad_client) %></td>
      			  <td>フォロワー数：<%= link_to @ad_client.follower_driver.count, followers_ad_client_path(@ad_client) %></td>
						</tr>
						<tr>
							<th>会社名</th>
							<td><%= @ad_client.company_name %></td>
						</tr>
						<tr>
							<th>会社名（カナ）</th>
							<td><%= @ad_client.company_name_kana %></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= @ad_client.postal_code %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= @ad_client.address %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @ad_client.email %></td>
						</tr>
					</table>
		</div>
		<div class = "col-xs-4">
			<h4>Map</h4>
			ここに地図を載せる
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
		</div>
	   <%= link_to "前の画面へ戻る", ad_clients_path %>
  </div>