<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>振込先口座登録/一覧</h1>
        <%= render 'layouts/error_messages', model: @shipping_address %>
      <table class="table" id="none-border">
        <tbody>
          <%= form_for @transfer_informations, url:  customers_customer_shipping_addresses_path(@customer) do |f| %>
            <tr>
              <td class="field control-label">
                <%= f.label :銀行名（ハイフンなし） %>
                <%= f.text_field :bank_name,, autofocus: true, autocomplete:"", placeholder:"郵便番号", class: "form-control" %>
              </td>
            </tr>
            <tr>
                <%= f.label :支店名 %>
                <%= f.text_field :branch_name, autofocus: true, autocomplete:"", placeholder:"住所", class: "form-control" %>
              </td>
            </tr>
            <tr>
                <%= f.label :口座種別 %>
                <%= f.text_field :account_type, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
              </td>
            </tr>
            <tr>
                <%= f.label :口座番号 %>
                <%= f.text_field :account_number, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
              </td>
            </tr>
            <tr>
                <%= f.label :口座名義人名 %>
                <%= f.text_field :account_name, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td class="actions">
                <%= f.submit "登録する", class: "btn btn-success btn-lg col-lg-offset-10"%>
              </td>
             </tr>
           <% end %>
         <tbody>
       </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <table class="table table-bordered">
      <thead>
        <tr>
          <td>郵便番号</td>
          <td>住所</td>
          <td>宛名</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
       <% @transfer_informations.each do |t| %>
        <tr>
          <td><%= t.bank_name %></td>
          <td><%= t.branch_name %></td>
          <td><%= t.account_type %></td>
          <td><%= t.account_number %></td>
          <td><%= t.account_name %></td>
          <td><%= link_to "編集する",edit_customers_customer_shipping_address_path(shipping.customer_id,shipping.id), class: "btn-sm btn-success edit_book_#{shipping.id}" %></td>
          <td><%= link_to "削除する",customers_customer_shipping_address_path(shipping.customer_id,shipping.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{shipping.id}" %></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</div>




