<div class="message" style="width: 480px;">
	<% @chats.each do |chat| %>
			<%= chat.message %>
	<% end %>
</div>

<%= form_with model:@chat, url: ad_chats_path do |f| %>
	<%= f.text_area :message %>
	<%= f.hidden_field :room_id  %>
		<% if driver_signed_in? %>
			<%= f.hidden_field :user_type, :value => 'driver' %>
		<% elsif ad_client_signed_in? %>
			<%= f.hidden_field :user_type, :value => 'ad_client' %>
		<% end %>
	<%= f.submit "送信", class: "btn btn-primary" %>
<% end %>