<div class="row">
	<div class="col-xs-4">
		<%= attachment_image_tag @ad, :ad_image, fallback: "no_image.jpg", size:'360x260' %>
	</div>
	<div class="col-xs-8">
	  <table>
	   <tr>
	     <th><h4><%= @ad.title %></h4></th>
	   </tr>
	   <tr>
	     <td><h3><%= @ad.ad_fee %>円</h3></td>
	   </tr>
	   <tr>
	     <td><h4><%= @ad.heading %></h4></td>
	   </tr>
	   <tr>
	     <td><p><%= @ad.content %></p></td>
	   </tr>
	  </table>
		<table class="table">
			<tr>
			  <th>ジャンル</th>
			  <th>広告主</th>
			  <th>広告作業期間</th>
			</tr>
			<tr>
				<td><%= @ad.genre.genre_name %></td>
				<td><%= @ad.ad_client.company_name %></td>
				<td><%= @ad.start_date %><br>&emsp;〜<%= @ad.end_date %></td>
			</tr>
		</table>
  </div>
</div>
<div class="row">
	<div class="col-xs-11 col-offset-1">
		<div id="chat-templete" class="chat-area">
		<%= form_with model:@chat, url: ad_chats_path do |f| %>
			<%= f.hidden_field :room_id %>
			<%= f.hidden_field :user_type, :value => 'driver' %>
				<div id ="chat-send">
					<%= f.text_area :message, class: "chat-message" %>
					<%= f.submit "送信", class: "btn chat-btn" %>
				</div>
		<% end %>
		<% @chats.each do |chat| %>
			<% if chat.user_type == 'driver' %>
				<div class="message">
				  <div id="icon" class="faceicon">
				    <%= attachment_image_tag current_driver, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
				  </div>
				    <div class="chatting">
				     	<div class="says">
				      	<p><%= chat.message %></p>
			          <div class="say-data">
			    				<%= chat.created_at.to_s(:datetime_jp) %>
			    			</div>
				  	  </div>
				  	</div>
				</div>
			<% else %>
				<div class="message2">
				  <div class="faceicon2">
				    <%= attachment_image_tag @ad.ad_client, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
				  </div>
				    <div class="chatting2">
				     	<div class="says2">
				      	<p><%= chat.message %></p>
						    <div class="say-data2">
				    			<%= chat.created_at.to_s(:datetime_jp) %>
				    		</div>
				    	</div>
				  	</div>
				</div>
			<% end %>
		<% end %>
		</div>
	</div>
</div>
