<div class="row">
	<div class="col-xs-4">
		<%= attachment_image_tag @ad.ad, :ad_image, :fill,760,420, fallback: "no_image.jpg", size:'200x130' %>
	</div>
	<div class="col-xs-8">
	  <table>
	   <tr>
	     <th><h4><%= @ad.ad.title %></h4></th>
	   </tr>
	   <tr>
	     <td><h3><%= @ad.ad.ad_fee %>円</h3></td>
	   </tr>
	   <tr>
	     <td><h4><%= @ad.ad.heading %></h4></td>
	   </tr>
	   <tr>
	     <td><p><%= @ad.ad.content %></p></td>
	   </tr>
	  </table>
		<table class="table">
		 <tr>
		   <th>広告主</th>
		   <th>広告作業期間</th>
		 </tr>
		 <tr>
		   <td><%= @ad.ad.ad_client_id %></td>
		   <td><%= @ad.ad.start_date %><br>&emsp;〜<%= @ad.ad.end_date %></td>
		 </tr>
		 <tr>
		  <td>ジャンル</td>
		  <td></td>
		 </tr>
		 <tr>
		  <td><%= @ad.ad.genre_id %></td>
		  <td></td>
		 </tr>
		</table>
  </div>
</div>
<div class="row">
	<div class="col-xs-12 col-offset-1">
		<div class="message">
			<% @chats.each do |chat| %>
				<% if chat.user_type == 'driver' %>
					<p style="text-align: left;"><%= chat.message %></p>
				<% else %>
					<p style="text-align: right;"><%= chat.message %></p>
				<% end %>
			<% end %>
		</div>
		<%= form_with model:@chat, url: ad_room_path, data: {remote: true} do |f| %>
			<%= f.text_area :message %>
			<%= f.hidden_field :room_id %>
			<%= f.hidden_field :user_type, :value => 'ad_client' %>
			<%= f.submit "送信", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>