<div class="row">
	<div class="col-xs-4">
		<%= attachment_image_tag @ad, :ad_image, fallback: "no_image.jpg", size:'360x260' %>
	</div>
	<div class="col-xs-8">
	  <table>
	   <tr>
	     <th><h4><%= @ad.title %></h4></th>
	   </tr>
	   <tr>
	     <td><h3><%= @ad.ad_fee %>円</h3></td>
	   </tr>
	   <tr>
	     <td><h4><%= @ad.heading %></h4></td>
	   </tr>
	   <tr>
	     <td><p><%= @ad.content %></p></td>
	   </tr>
	  </table>
		<table class="table">
			<tr>
			  <th>ジャンル</th>
			  <th>広告主</th>
			  <th>広告作業期間</th>
			</tr>
			<tr>
				<td><%= @ad.genre.genre_name %></td>
				<td><%= @ad.ad_client.company_name %></td>
				<td><%= @ad.start_date %><br>&emsp;〜<%= @ad.end_date %></td>
			</tr>
		</table>
  </div>
</div>
<div class="row">
	<div class="col-xs-11 col-offset-1">
		<h4>チャットボックス</h4>
			<% if driver_signed_in? %>
				<input name="chat" type="text" data-behavior="room_speaker" data-user="0" data-room="<%= @room.id %>" >
			<% else %>
				<input name="chat" type="text" data-behavior="room_speaker" data-user="1" data-room="<%= @room.id %>">
			<% end %>
			<%= render "chat", collection: @chats %>
		</div>
	</div>
</div>
