<div class="sidebar-area">
	<table class="table">
		<tr id="none-border">
			<td class="text-center">
				<%= attachment_image_tag driver, :profile_image, fallback: "no_image.jpg", class: "image-circle", size: "230x170" %>
			</td>
		</tr>
		<tr id="none-border">
			<td class="text-center">
				<%= driver.driver_name %> さん
			</td>
		</tr>
		<% if current_driver == driver %>
		<tr id="none-border">
			<td class="text-center">
				<%= link_to edit_driver_path(current_driver), class: "btn01",data: {"turbolinks" => false} do %><span>ドライバー情報 編集</span><% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<table class="sidebar">
		<tr>
			<td class="side-menu"><%= link_to "お気に入り広告", favorite_search_ad_path(current_driver)  %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to  "広告を探す", ads_path   %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to  "広告主一覧", ad_clients_path   %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to "取引一覧", dashboard_driver_path(current_driver)  %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to "問い合せ", new_contact_path  %></td>
		</tr>
	</table>
</div>