<div class="sidebar-area">
	<table class="sidebar">
		<tr>
			<td class="side-menu"><%= link_to "お気に入り広告", favorite_search_ad_path(current_driver)  %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to  "広告を探す", ads_path   %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to  "広告主一覧", ad_clients_path   %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to "取引一覧", ads_path  %></td>
		</tr>
		<tr>
			<td class="side-menu"><%= link_to "問い合せ", new_contact_path  %></td>
		</tr>
	</table>
</div>