<div class="sidebar-area">
	<table class="table">
		<tr id="none-border">
			<td class="text-center" colspan="2">
				<%= attachment_image_tag driver, :profile_image, fallback: "no_image.jpg", class: "image-circle", size: "230x170" %>
			</td>
		</tr>
		<tr id="none-border">
			<td class="text-center" colspan="2">
				<%= driver.driver_name %> さん
			</td>
		</tr>
		<tr id="none-border" follow_count_<%= driver.id %>>
			<%= render "relationships/follow_count_driver", driver: current_driver %>
		</tr>
		<% if current_driver == driver %>
		<tr id="none-border">
			<td class="text-center " colspan="2">
				<%= link_to edit_driver_path(current_driver), class: "btn01",data: {"turbolinks" => false} do %><span>ドライバー情報 編集</span><% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<table class="sidebar">
		<thead>
			<th class="side-menu-heading">メニュー</th>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to "マイページ", dashboard_driver_path(current_driver), class:"side-menu" %></td>
			</tr>
			<tr>
				<td><%= link_to "お気に入り広告", favorite_search_ad_path(current_driver), class:"side-menu" %></td>
			</tr>
			<tr>
				<td><%= link_to  "広告を探す", ads_path, class:"side-menu" %></td>
			</tr>
			<tr>
				<td><%= link_to  "広告主一覧", ad_clients_path, class:"side-menu" %></td>
			</tr>
			<tr>
				<td><%= link_to "取引情報", dashboard_driver_path(current_driver), class:"side-menu" %></td>
			</tr>
			<tr>
				<td><%= link_to "お問い合せ", new_contact_path, class:"side-menu" %></td>
			</tr>
		</tbody>
	</table><br>
	<table class="sidebar">
			<thead>
				<th class="side-menu-heading">設定</th>
			</thead>
		<tr>
			<td><%= link_to edit_driver_path(current_driver), class: "side-menu",data: {"turbolinks" => false} do %>アカウント<% end %></td>
		</tr>
		<tr>
			<td><%= link_to "口座情報", driver_transfer_informations_path(current_driver) , class: "side-menu",data: {"turbolinks" => false} %>
		</tr>
		<tr>
			<td><%= link_to "車両情報", driver_car_informations_path(current_driver) , class: "side-menu",data: {"turbolinks" => false} %>
		</tr>
		<tr>
			<td><%= link_to "ログアウト", destroy_driver_session_path, method: :delete, class:"side-menu" %></td>
		</tr>
	</table>
</div>