<div class="row">
	<div class="col-xs-3">
		<!-- サイドバー-->
			<%= render "drivers/sidebar", driver: @driver %>
	</div>
	<div class="col-xs-8">
		<!-- 運営からのメッセージ -->
		<%= render 'layouts/message_from_admin', driver: @driver %>

		<!-- 取引広告の情報 -->
		<div class="deal-area">
			<h3>取引中の広告</h3>
			<% if @under_deal.present? %>
				<!-- 作業報告エリア -->
				<%= render 'under_deals/ad_info', ad: @ad %>
				<%= render 'under_deals/flow_driver', { under_deal: @under_deal, deal_detail: @deal_detail, driver: @driver } %>
			<!-- メッセージエリア -->
			<div id="chat-templete" class="chat-area">
				<%= form_for (@message), url: under_deal_deal_messages_path(@under_deal) do |f| %>
					<div id ="chat-send">
						<%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "chat-message" %>
						<%= f.submit "送信",  class: "btn chat-btn" %>
					</div>
				<% end %>
				<% @messages.each do |message| %>
					<% if message.user_type == 'driver' %>
						<div class="message">
						  <div id="icon" class="faceicon">
						    <%= attachment_image_tag @under_deal.driver, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
						  </div>
						    <div class="chatting">
						     	<div class="says">
						      	<p><%= message.message %></p>
					          <div class="say-data">
					    				<%= message.created_at.to_s(:datetime_jp) %>
					    			</div>
						  	  </div>
						  	</div>
						</div>
					<% else %>
						<div class="message2">
						  <div class="faceicon2">
						    <%= attachment_image_tag @under_deal.ad.ad_client, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
						  </div>
						    <div class="chatting2">
						     	<div class="says2">
						      	<p><%= message.message %></p>
								    <div class="say-data2">
						    			<%= message.created_at.to_s(:datetime_jp) %>
						    		</div>
						    	</div>
						  	</div>
							</div>
						<% end %>
					<% end %>
				</div>
			<% else %>
				<div class="message-box">
					<h4>現在、取引中の広告はありません。</h4>
					<h5>広告を探してみましょう！！  <%= link_to "▶︎ 広告ページへ", ads_path %></h5>
				</div>
			<% end %>
			<!-- 取引一覧 -->
			<div class="past-deal">
				<table class="table">
					<h4>過去取引一覧</h4>
					  <thead>
					    <tr>
					      <td>広告名</td>
					      <td>広告期間</td>
					      <td>ステータス</td>
					      <td colspan="2">詳細画面</td>
					    </tr>
					  </thead>
					  <tbody>
					   <% @finish_deals.each do |f| %>
					    <tr>
					      <td><%= f.ad.title %></td>
					      <td><%= f.ad.start_date %>〜<%= f.ad.end_date %></td>
					      <td><%= f.work_status_i18n %></td>
					      <td colspan="2">
					        <%= link_to show_driver_under_deal_path(f.id), class: "btn02" do %><span>詳細<i class="fas fa-arrow-right"></i><% end %>
						  </td>
					    </tr>
					   <% end %>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
