<div class="row">
	<div class="col-lg-1">
	</div>
	<div class="col-lg-6">
		<h3>  Follow ad_clients</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @followings.each do |ad_client| %>
					<tr>
						<td><%= attachment_image_tag ad_clients, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg" %></td>
						<td><%= ad_clients.name %></td>
						<td>フォロー数:<%= ad_clients.followings.count %></td>
						<td>フォロワー数:<%= ad_clients.followers.count %></td>
						<td><%= link_to "Show", ad_clients, class: "ad_clients_#{ad_clients.id}" %></td>
						<!-- 上記rと同じ記述 -->
						<!-- <td><%= link_to "Show", user_path(user) %></td> -->
					</tr>
					<%end %>
				</tbody>
		</table>
	</div>
</div>