	<div class="row">
		<div class="col-xs-3">
			<% if ad_client_signed_in? %>
				<%= render 'ad_clients/profile' , ad_client: current_ad_client %>
				<%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
			<% elsif driver_signed_in?%>
				<%= render 'drivers/profile' , driver: current_driver %>
				<%= render "drivers/sidebar", driver: current_driver %>
			<% end %>
		</div>
		<div class = "col-xs-5">
			<%= attachment_image_tag @driver, :profile_image,:fill, 230, 170, fallback: "no_image.jpg", size:'230x170'  %><br>
				<% if ad_client_signed_in? %>
          <% if current_ad_client.following?(@driver) %>
            <%= link_to 'フォローを外す', driver_relationship_path(@driver.id), method: :delete %>
          <% else %>
            <%= link_to 'フォローする', driver_relationships_path(@driver.id), method: :POST %>
          <% end %>
				<% end %>
				<table class="table .table-borderless">
					<tr>
						<td>フォロー&emsp;<%= link_to @driver.following_ad_client.count, followings_driver_path(@driver) %></td>
    			  <td>フォロワー&emsp;<%= link_to @driver.follower_ad_client.count, followers_driver_path(@driver) %></td>
					</tr>
					<tr>
						<th>名前</th>
						<td><%= @driver.driver_name %></td>
					</tr>
					<tr>
						<th>名前（カナ）</th>
						<td><%= @driver.driver_name_kana %></td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td><%= @driver.postal_code %></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><%= @driver.address %></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td><%= @driver.email %></td>
					</tr>
				</table>
		</div>
		<div class = "col-xs-4">
			<h4>Map</h4>
			ここに地図を載せる
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-9">
			<table class="table">
		     <h3>Car infomartion</h3>
		      <thead>
		        <tr>
		          <td>メーカー名</td>
		          <td>車名</td>
		          <td>ナンバープレート</td>
		          <td>車台番号</td>
		          <td>広告活動地域</td>
		          <td>広告掲載場所</td>
		        </tr>
		      </thead>
		      <tbody>
		       <% @car_informations.each do |c| %>
		        <tr>
		          <td><%= c.manufacturer_name %></td>
		          <td><%= c.car_name %></td>
		          <td><%= c.license_plate %></td>
		          <td><%= c.flame_number %></td>
		          <td>住所から半径100km</td>
		          <td>車両側部&emsp;リアゲート</td>
		        </tr>
		       <% end %>
		      </tbody>
	      </table>
	    <%= link_to "前の画面へ戻る", drivers_path %>
	  </div>
	</div>