<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>新規広告依頼</h3>
        <%= form_for @ad, url: ad_client_ads_path(current_ad_client) do |f| %>
           <tr>
              <td><%= f.label :広告写真 %></td><br>
              <td><%= f.attachment_field :ad_image %></td>
            </tr>
            <tr>
              <td><%= f.label :タイトル %></td>
              <td><%= f.text_field :title, autofocus: true, autocomplete:"", placeholder:"タイトルを入力", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :広告開始日 %></td>
              <td><%= f.text_field :start_date,data: { :date_format => 'YYYY/MM/DD' }, :class => 'form-control datetimepicker', placeholder: '2020/01/01'  %></td>
            </tr>
            <tr>
              <td><%= f.label :広告開始日 %></td>
              <td><%= f.text_field :end_date,data: { :date_format => 'YYYY/MM/DD' }, :class => 'form-control datetimepicker', placeholder: '2020/01/01'  %></td>
            </tr>
            <tr>
              <td><%= f.label :広告金額 %></td>
              <td><%= f.text_field :ad_fee, autofocus: true, autocomplete:"", placeholder:"金額を入力", class: "form-control" %><span>円</span></td>
                <p>※こちらの金額とは別に掲載手数料が10％発生します</p>
              </td>
            </tr>
            <tr>
              <td><%= f.label :見出し %></td>
              <td><%= f.text_field :heading, autofocus: true, autocomplete:"", placeholder:"見出しを入力", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :内容 %></td>
              <td><%= f.text_area :content, autofocus: true, autocomplete:"", placeholder:"内容を入力", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :ジャンル %></td>
              <td><%= f.collection_select(:genre_id, Genre.all, :id, :genre_name, :prompt => "選択してください") %></td>
            </tr>
            <tr>
              <td class="text-center">
                <%= f.submit "登録する", class: "btn btn-primary col-lg-offset-10"%>
              </td>
             </tr>
           <% end %>
        <%= link_to "前の画面に戻る", ad_client_ads_path  %>
    </div>
    <div class = "col-xs-6">
      <h3>商品画像プレビュー</h3>
        <%= attachment_image_tag @ads, :ad_image, :fill,400,300, fallback: "no_image.jpg", size:'400x300' %>
    </div>

  </div>
</div>